<!DOCTYPE html>
          <head>
        <meta charset="utf-8">
            
            <title>
                猪生-秋仔
            </title>
            <meta content="width=device-width, initial-scale=1" name="viewport">
            <meta name="theme-color" content="#4184f3">
            
            
            <link href="/favicon.ico" rel="icon"/>
            

            <link rel="stylesheet" href="/css/highlight.light.css">
            <link rel="stylesheet" href="/css/prism-customize.css">
            <link rel="stylesheet" href="/css/nav-icon.css">
            <link rel="stylesheet" href="/css/waves.min.css">
            <link rel="stylesheet" href="/css/jquery.tocify.css">
            <link rel="stylesheet" href="/css/main.css">
            <link rel="stylesheet" href="/css/nav-indicator.css">
            
  
  <!-- 百度统计 -->
  <script>
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "//hm.baidu.com/hm.js?a0050566dc0cebfb5baa4fa25f557a59";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hm, s);
  })();
  </script>
  

  
            </meta>
        </meta>
    </head>

    <body>
        <header>
            <!-- cover image or sth. -->
        </header>
        <div id="main" class="m-scene">
            
<div class="nav-wrapper">

    <div class="container">
        <nav>
            <div class="logo wave">
                <a href="/" id="logo">
                    猪生-秋仔
                </a>
            </div>
            <div class="nav-toggle-icon" >
                <div class="material-hamburger">
                    <span>
                    </span>
                    <span>
                    </span>
                    <span>
                    </span>
                </div>
            </div>
            <div class="menu-wrapper">
                <div class="nav-indicator">
                </div>
                <ul class="menus">
                    
                     
                        <li class="active">
                            <a class="" href="/">
                                首页
                            </a>
                        </li>
                     
                        <li class="">
                            <a class="" href="/archives">
                                归档
                            </a>
                        </li>
                     
                        <li class="">
                            <a class="" href="/about">
                                关于
                            </a>
                        </li>
                     
                        <li class="">
                            <a class="no-smoothstate" href="/atom.xml">
                                订阅
                            </a>
                        </li>
                     
                    
                   
                </ul>
            </div>
        </nav>
    </div>
</div>
            <div class="container content">
                <div class="scene_element scene_element--fadein">
                     <div class="row">
  <div class="main index">

  
    <article>
      <a href="/2016/08/23/Nougat/" >
        
          <header class="post-header">
        
          <h1 class="post-title">
            <!-- <a href="/2016/08/23/Nougat/" title="Android 7.0 Nougat 的最终版发布" >Android 7.0 Nougat 的最终版发布</a> -->
            <span>Android 7.0 Nougat 的最终版发布</span>
          </h1>
        </header>
      </a>

       <section class="post-info">
        <span class="post-date">2016/08/23</span>
          
          
          <span class="post-tags">
            <ul class="post-tag-list"><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/Android/">Android</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/Nougat/">Nougat</a></li></ul>
          </span>
          
        <!-- <span class="read-more btn"><a href="/2016/08/23/Nougat/" >阅读</a></span> -->
      </section>

      <section class="post-abstract">
        
          今天 Google 宣布推出 Android 7.0 Nougat 的最终版，Nexu...
        
      </section>
      
    </article>
  
    <article>
      <a href="/2016/08/22/JsBridge/" >
        
          <header class="post-header">
        
          <h1 class="post-title">
            <!-- <a href="/2016/08/22/JsBridge/" title="Android-使用JsBridge来优化js与本地的交互" >Android-使用JsBridge来优化js与本地的交互</a> -->
            <span>Android-使用JsBridge来优化js与本地的交互</span>
          </h1>
        </header>
      </a>

       <section class="post-info">
        <span class="post-date">2016/08/22</span>
          
          
          <span class="post-tags">
            <ul class="post-tag-list"><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/Android/">Android</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/JsBridge/">JsBridge</a></li></ul>
          </span>
          
        <!-- <span class="read-more btn"><a href="/2016/08/22/JsBridge/" >阅读</a></span> -->
      </section>

      <section class="post-abstract">
        
          基于lzyzsd的JsBridge 优化改进而来的Android JsBridge。

        
      </section>
      
    </article>
  
    <article>
      <a href="/2016/04/21/nuwa/" >
        
          <header class="post-header">
        
          <h1 class="post-title">
            <!-- <a href="/2016/04/21/nuwa/" title="Android开发之nuwa热修复" >Android开发之nuwa热修复</a> -->
            <span>Android开发之nuwa热修复</span>
          </h1>
        </header>
      </a>

       <section class="post-info">
        <span class="post-date">2016/04/21</span>
          
          
          <span class="post-tags">
            <ul class="post-tag-list"><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/Android/">Android</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/nuwa/">nuwa</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/热修复/">热修复</a></li></ul>
          </span>
          
        <!-- <span class="read-more btn"><a href="/2016/04/21/nuwa/" >阅读</a></span> -->
      </section>

      <section class="post-abstract">
        
          相信每个开发者在app版本上线后才发现有一个致命性崩溃的bug时，心中是一万只草泥马在奔跑！每次发现这种bug，都只好立马上个小版本修复。这种体验着实糟糕。那我们能不能动态加载一小部分代码来修复这个bug呢？今天给大家带来了女娲nuwa热修复！

        
      </section>
      
    </article>
  
    <article>
      <a href="/2016/03/29/65K/" >
        
          <header class="post-header">
        
          <h1 class="post-title">
            <!-- <a href="/2016/03/29/65K/" title="Android 65K问题之Multidex原理分析及NoClassDefFoundError的解决方法" >Android 65K问题之Multidex原理分析及NoClassDefFoundError的解决方法</a> -->
            <span>Android 65K问题之Multidex原理分析及NoClassDefFoundError的解决方法</span>
          </h1>
        </header>
      </a>

       <section class="post-info">
        <span class="post-date">2016/03/29</span>
          
          
          <span class="post-tags">
            <ul class="post-tag-list"><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/65k/">65k</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/Android/">Android</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/Multidex/">Multidex</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/NoClassDefFoundError/">NoClassDefFoundError</a></li></ul>
          </span>
          
        <!-- <span class="read-more btn"><a href="/2016/03/29/65K/" >阅读</a></span> -->
      </section>

      <section class="post-abstract">
        
          Android 65K问题相信困惑了不少人，虽然AS的出来可以通过分dex快速解决65K问题，但是同时也容易因为某些代码没有打包到MainDex里引起NoClassDefFoundError。随着5.0的推出，Android也放出了
        
      </section>
      
    </article>
  
    <article>
      <a href="/2015/01/22/process/" >
        
          <header class="post-header">
        
          <h1 class="post-title">
            <!-- <a href="/2015/01/22/process/" title="Android-解决微信等混淆打包提示Can&#39;t process class" >Android-解决微信等混淆打包提示Can&#39;t process class</a> -->
            <span>Android-解决微信等混淆打包提示Can&#39;t process class</span>
          </h1>
        </header>
      </a>

       <section class="post-info">
        <span class="post-date">2015/01/22</span>
          
          
          <span class="post-tags">
            <ul class="post-tag-list"><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/Android/">Android</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/微信/">微信</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/报错/">报错</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/混淆/">混淆</a></li></ul>
          </span>
          
        <!-- <span class="read-more btn"><a href="/2015/01/22/process/" >阅读</a></span> -->
      </section>

      <section class="post-abstract">
        
          之前做项目的时候用到了微信分享和微信支付。起初微信支付没有集成到项目里，没发现什么，打包都正常。后来集成到项目里，发现坑爹了。微信只支持一个功能集成，即只能做微信支付，或者微信分享，不能同时集成两个。因为微信在sdk的处理上出现问题，每个功能有单独的sdk，而且都是实体都是继承同一个超类...
        
      </section>
      
    </article>
  
    <article>
      <a href="/2014/12/25/ADB/" >
        
          <header class="post-header">
        
          <h1 class="post-title">
            <!-- <a href="/2014/12/25/ADB/" title="Android-mac下如何使用adb命令" >Android-mac下如何使用adb命令</a> -->
            <span>Android-mac下如何使用adb命令</span>
          </h1>
        </header>
      </a>

       <section class="post-info">
        <span class="post-date">2014/12/25</span>
          
          
          <span class="post-tags">
            <ul class="post-tag-list"><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/Android/">Android</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/adb/">adb</a></li></ul>
          </span>
          
        <!-- <span class="read-more btn"><a href="/2014/12/25/ADB/" >阅读</a></span> -->
      </section>

      <section class="post-abstract">
        
          相信在使用mac os X的网友都知道，mac没几个像win上豌豆荚、360助手之类的工具，在mac下做android开发就比较麻烦了，遇到adb中断，或者打包apk，没有工具很难重启adb或者把apk安装到手机上。这时候我们就需要使用adb命令了。可是有些有网友又说，adb用不...
        
      </section>
      
    </article>
  
    <article>
      <a href="/2014/10/25/recyclerview/" >
        
          <header class="post-header">
        
          <h1 class="post-title">
            <!-- <a href="/2014/10/25/recyclerview/" title="Android5.0之RecyclerView" >Android5.0之RecyclerView</a> -->
            <span>Android5.0之RecyclerView</span>
          </h1>
        </header>
      </a>

       <section class="post-info">
        <span class="post-date">2014/10/25</span>
          
          
          <span class="post-tags">
            <ul class="post-tag-list"><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/Android/">Android</a></li><li class="post-tag-list-item"><a class="post-tag-list-link" href="/tags/RecyclerView/">RecyclerView</a></li></ul>
          </span>
          
        <!-- <span class="read-more btn"><a href="/2014/10/25/recyclerview/" >阅读</a></span> -->
      </section>

      <section class="post-abstract">
        
          在上一篇Blog中已经讲到过了RecyclerVIew的特性等等，现在我们开始正式讲讲这个它吧。RecyclerView作为listview的更新版面世，有着他得天独厚的优势：第一点，就是他更完善Recycler机制，比listview的recycler机制还相对完善，可...
        
      </section>
      
    </article>
  
  
  
  
  </div>
  
    <aside>
        
    
  <div class="widget-wrap">
    <h3 class="widget-title">最新文章</h3>
    <div class="widget">
      <ul>
        
          <li>
            <a href="/2016/08/23/Nougat/">Android 7.0 Nougat 的最终版发布</a>
          </li>
        
          <li>
            <a href="/2016/08/22/JsBridge/">Android-使用JsBridge来优化js与本地的交互</a>
          </li>
        
          <li>
            <a href="/2016/04/21/nuwa/">Android开发之nuwa热修复</a>
          </li>
        
          <li>
            <a href="/2016/03/29/65K/">Android 65K问题之Multidex原理分析及NoClassDefFoundError的解决方法</a>
          </li>
        
          <li>
            <a href="/2015/01/22/process/">Android-解决微信等混淆打包提示Can&#39;t process class</a>
          </li>
        
      </ul>
    </div>
  </div>


    
  <section class="widget-wrap">
    <h3 class="widget-title">链接</h3>
    <div class="widget">
	    <ul >
	        
	        <li>
	            <a href="https://github.com/hjhrq1991" title="全球最大同性交友网">
	                github主页
	            </a>
	        </li>
	        
	        <li>
	            <a href="http://www.weibo.com/hjhrq1991" title="新浪微博">
	                微博
	            </a>
	        </li>
	        
	    </ul>
    </div>
  </section>




    </aside>
  
</div>

                </div>
            </div>
        </div>
        <footer class="footer">
    <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
    </script>
    <p>由<a href="http://hexo.io/" target="_blank">Hexo</a>强力驱动，搭载<a href="https://github.com/wayou/hexo-theme-gstyle">gstyle</a>主题</p>
    <p>
        &copy; 2016 John Doe
    </p>

    <p>
        <span id="busuanzi_container_site_pv">
        本站总访问量<span id="busuanzi_value_site_pv"></span>次
        </span>
            |
        <span id="busuanzi_container_site_uv">
        本站访客数<span id="busuanzi_value_site_uv"></span>人次
        </span>
    </p>

</footer>
<script src="/lib/jquery.js"></script>
<script src="/lib/waves.js"></script>
<script src="/lib/jquery-ui.js"></script>
<script src="/lib/jquery.tocify.js"></script>
<script src="/js/main.js"></script>


        {% if theme.leancloud_visitors.enable %}
        {% include 'partials/lean-analytics' %}
        {% endif %}
    </body>
</html>
